<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body class="body-donation">
        <div class="main-donation">
            <div class="donation-context">
                <h1 class="title-donation">Ayudanos a seguir creciendo</h1>
                <br>
                <h2>Con tu aporte voluntario contribuiras a el mejoramiento de la herramienta</h2>
                <br>
                <p>Así todos podras tener cada vez una mejor relación con su conexión al mundo</p>
                <button class="btn btn-donation">Haz clic para contribuir</button>
            </div>
            <div class="donation_container-img">
                <span>
                    <img src="../public/img/img-donation.jpg" alt="">
                </span>
            </div>
        </div>
    </div>
</body>
</html>